body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#181818;
  }
  header {
    background-color:#1A362F;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px white;
  }
  .container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  #logo {
    float: left;
    font-size: 1.5em;
    margin-left: 30px;
    background-image: url('entertainment_logo.PNG');
    height: 60px;
    width: 150px;
    background-size: cover; 
  }
  nav {
    float: right;
    margin-left: 80px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    border: 1px solid transparent;
    padding: 10px;
  }
  nav a:hover {
    color: black;
    border: 1px solid white; 
  }
  .login{
    display: flex;
    flex-direction: start;
    margin-left: 300px;
  }
  #login-btn {
    background-color:yellow;
    color:black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-left: 10px;
  }
  #login-btn:hover {
    background-color:azure;
    border: 1px solid yellow;
  }
  main{
    background: url('img3.jpg') ; 
    background-size: cover;
  }
  .hero-section {
    position: relative;
    text-align: center; 
    font-weight: bolder;
    padding: 100px 20px;
    background: url('img3.jpg') ; 
    background-size: cover;
  }
  .hero-content {
    color: white;
    text-align: center; 
    font-weight: bolder;
    position: relative;
    z-index: 2;
  }
  .hero-content h2{
    font-size: 72px;
  }
  .email{
    display: flex;
    justify-content: center;
  }
  .email input{
    height:50px;
    width: 700px;
    border-radius: 15px;
    display: block;
    padding:10px;
    background-color: transparent;
    box-shadow: inset 0px 0px 10px rgba(241, 232, 232, 0.2), inset 0px -20px 1px rgba(150, 150, 150, 0.1);
    font-size: 35px;
    text-align: left;
	  font-weight: 400;
    border: 2px solid #181818;
  }
  .email button{
    height: 70px;
    width: 200px;
    border: 1px solid black;
    font: white;
    background-color: orange;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    margin-left: 20px;
  }
  .email button:hover{
    background-color: bisque;
    border: 1.5px solid orange ;
  }
  .slider-container {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
  }
  .slider {
    display: flex;
    transition: transform 2s ease-in-out;
  }
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  img {
    width: 450px;
    height: 350px;
    object-fit: cover;
  }
  .hero-section p{
    color: white;
    font-size: 1.5rem;
  }
/* edited */
.features-section{
  color: white;
  display: inline;
}
.feature-card {
  background-color:rgba(255,0,0,0);
  border-radius: 8px;
  padding: 20px;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 30px;
  border: 0.5px solid gray;
  display: flex;
}
.photo{
  height: 500px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid 0.3px;
  padding: 20px;
  margin-left: 120px;
  box-shadow: inset 0px 0px 10px rgba(241, 232, 232, 0.2), inset 0px -20px 1px rgba(150, 150, 150, 0.1);
}
.text{
  margin-left: 120px;
  font-size: 50px;

}
.feature-card h3{
  font-size: 70px;
  font-weight: bolder;
  border: #181818;
}
.feature-card:hover {
  transform: scale(1.05);
  border: 2px solid white;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
} 
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: orange;
}